.env
vault/key
vault/data/
vault.sh
.env.*
__pycache__/
*.pyc
.venv/
venv/
Skills_Utilization/.git-backup-original/
actions-runner/
actions-runner/
vault/
docker-compose.yaml
project3/.env
project3/vault/key
project3/vault/data/
